@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.cards {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card-img {
  text-align: center;
}

.card-img img {
  display: block;
  width: 50px;
}

.card-body {
  padding: .75rem;
}

.card-body h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: bold;
}

.card-body p {
  margin-top: 0;
}

.card {
  display: inline-block;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 110%;
    line-height: 1.3;
  }

  .card-body {
    display: inline-block;
    width: 15rem;
  }

  .card-body h2 {
    margin: 0;
  }

  .card-img {
    display: inline-block;
  }

}

@media only screen and (min-width: 38em) {

  body {
    display: inline-block;
  }

  html {
  font-size: 110%;
  line-height: 1.4;
  }

  .card-img {
    display: block;
  }

  .card-body {
    display: block;
    width: 100%;
  }

  .card {
    display: inline-block;
    width: 40%;
  }

}

@media only screen and (min-width: 60em) {

  .card {
    font-size: 120%;
  }

}

@media only screen and (min-width: 90em) {

  .card {
    font-size: 130%;
    line-height: 1.4;

  }

}
